// Define colors
$color-primary: #eb2f64;
$color-primary-light: #C6878F;
$color-primary-dark: #792359;

$color-light-1: #E6BEAE;
$color-dark-1: #B2967D;
$color-antique_white: #FAEBD7;

$color_grey-light-1: #faf9f9;
$color_grey-light-2: #f4f2f2;
$color_grey-light-3: #f0eeee;
$color_grey-light-4: #ccc;

$color_grey-dark-1: #333;
$color_grey-dark-2: #777;
$color_grey-dark-3: #999;
$color-grey-dark-4: #333232;


//Font sizes
$default-font-size: 1.6rem;
$secondary-bar-font-size: 1.4rem;